# Modèles et checkpoints
extracted_model/


# Données et datasets
leaves.zip
Apple/
Grape/
images/
*.jpg
Test_split/

# Sujet et documentation
*.pdf
en.subject.pdf

# Résultats et outputs
output/
results/
logs/
predictions/

# Python
__pycache__/

# Environnements virtuels
venv/
myenv/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
